body {
  background-image: url('images/background.jpg');
  background-size: cover;
}

.logo {
  height: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  float: Right;
  font-family: Papyrus, fantasy;
  font-size: 20px;
  font-weight: 700;
  color: Black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

h1 {
  font-family: 'Bonheur Royale', cursive;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

/* index */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

h2 {
  font-family: Papyrus, fantasy;
  font-size: 23px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 18.2px;
  text-align: center;
  padding: 20px 0 20px 0;
}

p {
  font-family: Papyrus, fantasy;
  font-size: 18px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 18.2px;
  text-align: center;
}

/* Royal Family */
.Rfamily {
  border: 0;
  border-style: none;
}

.family {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.pictab {
  position: relative;
}

figcaption {
  text-align: center;
  font-family: Papyrus;
  padding-top: 20px;
}

/* Royal Assets */
.Assets {
  font-family: Papyrus, fantasy;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 3px solid black;
  text-align: center;
  padding: 8px;
}

/* Contact */
label, input, textarea{
  font-family: Papyrus;
  font-size: 18px;
  font-weight: bold;
}

input[type=text], textarea {
  width: 100%;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F9DBBB;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #E1EEDD;
}

.container {
  border-radius: 5px;
  padding: 20px;
}
